{% extends 'base.html' %}

{% block content %}

<div class="auth-page">

    <div class="auth-container">

        <div class="auth-card">

            <h1>Create Account</h1>

            <p>Join ShopAZ and start shopping today</p>

            <form method="POST">

                {% csrf_token %}

                {% for field in form %}

                    <div class="form-group">

                        {{ field }}

                        {% if field.errors %}
                            <small class="error-text">
                                {{ field.errors.0 }}
                            </small>
                        {% endif %}

                    </div>

                {% endfor %}

                <button
                    type="submit"
                    class="login-btn"
                >
                    Create Account
                </button>

            </form>

            <p style="margin-top:20px;">
                Already have an account?
                <a href="{% url 'login' %}">
                    Login
                </a>
            </p>
        </div>    

    </div>

</div>

{% endblock %}